<div style="margin: 0 30px;">
      <table class="table table-condensed table-striped" style="width: auto;">
        <tr>
          <th>Task</th>
          <th>Assigned to</th>
          <th>Deadline</th>
        </tr>
      
        <% @all_tasks.each do |task| %>
          <tr>
            <td><%= task_links_set(task) %></td>
            <td>User with ID <%= task.user_id %></td>
            <td><%= task.deadline.to_formatted_s(:my_date_format) %></td>
          </tr>
        <% end %>
      </table>

<%= link_to new_task_path do%>
  <span class="btn btn-success">Create</span>
<% end %>

</div>
