<h1>Planner</h1>  
<ul>
<% @all_tasks.each do |task| %>
  <li><%=link_to('<i class="icon-pencil"></i>'.html_safe, "/edit/#{task.id}") + ' ' + link_to('<i class="icon-remove"></i>'.html_safe, "/delete/#{task.id}") + ' ' + task.title + " " + task.deadline.mday.to_s + '/' + task.deadline.mon.to_s + '/' + task.deadline.year.to_s %></li>
<% end %>

</ul>

<%= link_to('<span class="btn btn-success">create</span>'.html_safe, '/new')%>

