<h1>Create task</h1>
<%= form_for @task, url:'/create' do |f| %>
  <%= f.text_field :title, placeholder: 'Задача' %>
  <%= f.text_field :deadline, placeholder: 'Срок выполнения' %>
  <%= f.submit class: 'btn btn-success', style: 'margin-bottom : 10px;' %>
<% end %>