<div style="margin: 0 30px;">
<h1><%= @task.title %></h1>

<ul style="list-style-type: circle;">
  <li>Ответственный: <%= @task.user.try(:username) %> </li>
  <li>Срок: <%= @task.deadline.to_formatted_s(:my_date_format) %></li>
</ul>
<%= link_to tasks_path do %>
  <span class="btn btn-success">К списку</span>
<% end %>

</div>