<div style="margin: 0 30px;">
      <table class="table table-condensed table-striped" style="width: auto;">
        <tr>
          <th>User</th>
          <th>Login</th>
          <th>E-mail</th>
        </tr>
      
        <% @all_users.each do |user| %>
        <tr> 
            <td><%= user_links_set(user) %></td>
            <td><%= user.login %></td>
            <td><%= user.email %></td>
        </tr>
        <% end %>
      </table>

<%= link_to(new_user_path) do%>
  <span class="btn btn-success">Create</span>
<% end %>  
</div>
