<div style="margin: 0 30px;">
<h1><%= @user.username %></h1>

      <table class="table table-condensed table-striped" style="width: auto;">
        <tr>
          <th>Task</th>
          <th>Deadline</th>
        </tr>
      
        <% @user.tasks.each do |task| %>
        <tr>          
            <td><%= task_links_set(task) %></td>
            <td><%= task.deadline.to_formatted_s(:my_date_format) %></td>
        </tr>
        <% end %>
      </table>

<%= link_to users_path do%>
  <span class="btn btn-success">К списку</span>
<% end %>
</div>